@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

:root {
    --base: #1e1e2e;
    --text: #cdd6f4;
    --surface0: #313244;
    --blue: #89b4fa;
}

body, html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--base);
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

h1 {
    font-size: 3rem;
    margin-top: 60px;
    /* color: #5b2e0f; */
}

h2 {
    font-size: 1.3rem;
    /* color: #7a5c3e; */
    margin-bottom: 50px;
}

a {
    color: var(--blue);
    text-decoration: none;
}

.container {
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.button-card {
    margin: 20px;
    width: 90%;
    max-width: 400px;
    min-width: 200px;
    background: var(--surface0);
    border-radius: 20px;
    padding: 40px 60px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.button-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.button-card img {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
}

.button-card p {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
}

@media (max-width: 750px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .button-card {
        min-width: none;
        margin: none;
        padding: 40px 0px;
    }
}

footer {
    margin-top: auto;
    margin-bottom: 10px;
}

.map {
    width: 100%;
    height: 300px;
    margin: 0 auto 20px auto;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);
    background: #222;
}